$lightpink: #F2DCE0;
$hotpink: #F20587;
$violet: #BF2195;
$lilac: #CF61A6;
$black: #1C1C1C;
$lightblack: #2A2A2A;
$whiteTextShadow:2px 2px 5px #0005;
$kor: 'TheJamsil';
$eng:'Marcellus';

#container {
    width: 100%;
    .cont1 {
        width: 100%;
        background-color: white;
        cursor: pointer;
        .cont1Bg {
            width: 100%;
            background-image: url("/img/cont1BG.png");
            background-size: cover;
            background-position-y: 57%;
            background-repeat: no-repeat;
            background-color: #777;
            background-blend-mode: luminosity;
            transition: all .5s;
            display: flex;
            justify-content: center;
            &:hover {
                background-color: #0003;
                .center {
                    .contact_wrap {
                        > img {
                            right: 5%;
                        }
                    }
                }
            }
            .center {
                width: 60%;
                color: #FFF;
                padding:6vw 0;
                > h5 {
                    font-size: 1.5vw;
                    font-family: $kor;
                    letter-spacing: -.1vw;
                    padding: 2vw 0;
                    text-shadow: $whiteTextShadow;
                }
                > h2 {
                    font-family: $eng;
                    font-size: 5vw;
                    width: 50%;
                    word-break: keep-all;
                    text-shadow: $whiteTextShadow;
                }
                .contact_wrap {
                    display: flex;
                    justify-content: space-between;
                    position: relative;
                    align-items: center;
                    width: calc(5% + 8vw);
                    margin: 2vw 0;
                    color: #FFF;
                    > p {
                        font-family: $kor;
                        font-weight: 500;
                        text-shadow: $whiteTextShadow;
                        letter-spacing: -.1vw;
                        font-size: 1vw;
                    } 
                    > img {
                        width: 40%;
                        position: absolute;
                        top:50%;
                        right:10%;
                        transform: translate(0 ,-50%);
                        transition: all .5s;
                    }
                    > span {
                        width: 3vw;
                        height: 3vw;
                        border: 1px solid #FFF;
                        border-radius: 50%;
                    }
                } 
            }
        }
    }
    .cont2 {
        background-color: #FFF;
        color:$black;
        display: flex;
        justify-content: center;
        .center {
            width: 60%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            > h3 {
                text-align: center;
                font-size: 4vw;
                font-family: "Marcellus";
                line-height: 100%;
                position: relative;
                width: max-content;
                margin: 4vw auto;    
                &::before {
                    content: "";
                    display: inline-block;
                    position: absolute;
                    top: -20%;
                    right: -12%;
                    background-color: $lilac;
                    width: 20%;
                    height: 71.3%;
                    border-radius: 50%;
                }
                > p {
                    position: relative;
                }
            }
            .product_wrap {
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                padding-bottom: 4vw;
                .product {
                    width: 32%;
                    height: 18vw;
                    object-fit: cover;
                    overflow-x: hidden;
                    overflow-y: hidden;
                    position: relative;
                    margin-bottom: 3.3%;
                    cursor: pointer;
                    > img {
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        top:0;
                        left:0;
                        filter: grayscale(1) brightness(.5);
                        transform: scale(1);
                        transition: all .5s;
                    }
                    &:hover {
                        > img {
                            transform: scale(1.2);
                            filter: grayscale(0) brightness(.8);
                        }
                    }
                    .text_wrap {
                        position: absolute;
                        top:0;
                        left:0;
                        padding: 10%;
                        font-family: $kor;
                        > h5 {
                            color: $hotpink;
                            font-weight: 800;
                            font-size: 1.6vw;
                            margin-bottom: 1vw;
                            text-shadow: $whiteTextShadow;
                        }
                        > p {
                            color: #FFF;
                            font-weight: 300;
                            line-height: 160%;
                            text-shadow: $whiteTextShadow;
                            font-size: 1vw;
                        }
                    }
                }
            }
        }
    }
    .cont3 {
        width: 100%;
        overflow: hidden;
        background-color: #EAEAEA;
        display: flex;
        justify-content: center;
        .center{
            width: 60%;
            height: 27vw;
            display: flex;
            justify-content: space-between;
            > img {
                height: 100%;
                filter: contrast(1.3) drop-shadow($whiteTextShadow) hue-rotate(-12deg);
            }
            .text_wrap {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                text-align: left;
                font-family: $kor;
                color: $black;
                font-size: 2.2vw;
                line-height: 120%;
                > h4 {
                    font-weight: 400;
                }
                > h3 {
                    font-weight: 700;
                }
                > a {
                    display: flex;
                    width: 9vw;
                    height: 2.5vw;
                    border-radius: .4vw;
                    justify-content: center;
                    align-items: center;
                    font-size: 1vw;
                    background-color: $lightblack;
                    color: #EAEAEA;
                    margin-top: 4%;
                    font-weight: 500;
                    transition: all .5s;
                    &:hover {
                        background-color: $hotpink;
                        color: #FFF;
                    }
                }
            }
        }
    }
    .cont4 {
        display: flex;
        justify-content: center;
        overflow: hidden;
        cursor: pointer;
        background-color: #FFF;
        &:hover {
            .center {
                .left_wrap {
                    .locate_wrap {
                        > img {
                            right: 5%;
                        }
                    } 
                }
            }
        }
        .center {
            width: 70%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 32vw; 
            .left_wrap {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                > h3 {
                    font-family: $eng;
                    font-size: 3vw;
                    color: $black;
                    line-height: 200%;
                    margin-top: 16vw;
                }
                > p {
                    font-family: $kor;
                    font-weight: 300;
                    color: $lightblack;
                    line-height: 120%;
                    word-break: keep-all;
                }
                .locate_wrap {
                    color: $violet;
                    font-size: 1vw;
                    font-family: $kor;
                    display: flex;
                    justify-content: space-between;
                    position: relative;
                    align-items: center;
                    width: calc(10% + 8vw);
                    margin: 4vw 0;
                    color: $violet;
                    > p {
                        font-family: $kor;
                        font-weight: 500;

                        letter-spacing: -.1vw;
                        font-size: 1vw;
                    } 
                    > img {
                        width: 40%;
                        position: absolute;
                        top:50%;
                        right:10%;
                        transform: translate(0 ,-50%);
                        transition: all .5s;
                    }
                    > span {
                        width: 3vw;
                        height: 3vw;
                        border: 1px solid $violet;
                        border-radius: 50%;
                    }
                }
                > img {
                    width: calc(30% + 15vw);
                    animation: rotatecircle 12s infinite linear;
                }
            }
            .right_wrap {
                width: 70%;
                position: relative;
                height: 80%;
                .swiper{
                    height: 100%;
                    .swiper-wrapper{
                        height: 100%;
                        > .swiper-slide {
                            height: 100%;
                            img {
                                height: 60%;
                                width: 100%;
                            }
                            > .slide_text {
                                height: 40%;
                                width: 100%;
                                margin: 0 auto;
                                padding: 1% 0;
                                background-color: #F5F5F5;
                                display: flex;
                                justify-content: center;
                                align-items: flex-start;
                                > div {
                                    width: 80%;
                                    word-break: keep-all;
                                    font-family: $kor;
                                    > h4 {
                                        font-weight: 700;
                                        color: $violet;
                                        font-size: 2vw;
                                        line-height: 200%;
                                    }
                                    > p {
                                        line-height: 160%;
                                        font-size: 1vw;
                                        font-weight: 300;
                                    }
                                }
                            }
                        }
                    }
                    .swiper-button-prev {
                        height: 100%;
                        background-color: #FFF;
                        top:0%;
                        left:0;
                        padding: 5% 2%;
                        &::after {
                            color:$violet;
                            font-size: 1vw;
                            font-weight: 900;
                        }
                    }
                    .swiper-button-next {
                        height: 100%;
                        background-color: #FFF;
                        top:0%;
                        right:0;
                        padding: 5% 2%;
                        &::after {
                            color:$violet;
                            font-size: 1vw;
                            font-weight: 900;
                        }
                    }
                }
            }
        }
    }
    .cont5 {
        width: 100%;
        background-image: url("/img/cont5BG.jpg");
        background-color: #FFF;
        background-blend-mode: difference;
        display: flex;
        justify-content: center;
        .center {
            width: 60%;
            #contact{
                width: 100%;
                padding: 6vw 0;
                > h5 {
                    font-family: $kor;
                    font-weight: 500;
                    color: $lightblack;
                    font-size: 1vw;
                    text-align: center;
                    line-height: 200%;
                }
                > h3 {
                    font-family: $eng;
                    color: $black;
                    font-size: 3vw;
                    text-align: center;
                    margin-bottom: 1vw;
                }
                .input_wrap {
                    display: flex;
                    justify-content: space-between;
                    width: 100%;
                    > div {
                        display: flex;
                        flex-direction: column;
                        width: 49%;
                        margin-top: 2%;
                        .phone {
                            display: flex;
                            width: 100%;
                            justify-content: space-between;
                            align-items: center;
                            > input {
                                width: 30%;
                                text-align: center;
                            }
                            > span {
                                color:$black;
                                font-weight: 300;
                                font-size: 1vw;
                                font-family: $kor;
                            }
                        }
                        label {
                            color:$black;
                            line-height: 120%;
                            font-weight: 500;
                            font-size: 1vw;
                            font-family: $kor;
                            outline: none;
                            cursor: pointer;
                        }
                        input {
                            color:$black;
                            background-color: transparent;
                            border: 2px solid $black;
                            line-height: 200%;
                            font-weight: 300;
                            font-size: 1vw;
                            font-family: $kor;
                            outline: none;
                        }
                        select {
                            color:$black;
                            background-color: transparent;
                            border: 2px solid $black;
                            height: 2.2em;
                            font-weight: 300;
                            font-size: 1vw;
                            font-family: $kor;
                            outline: none;
                            cursor: pointer;
                            > option {
                                background-color: transparent;
                                &:disabled {
                                    background-color: #AAA;
                                    color: #EEE;
                                }
                            }
                        }
                        textarea {
                            color:$black;
                            background-color: transparent;
                            border: 2px solid $black;
                            height: 2rem;
                            font-weight: 300;
                            font-size: 1vw;
                            font-family: $kor;
                            resize: none;
                            height: 5em;
                            outline: none;
                            white-space:pre-wrap;
                        }
                    }
                    &:nth-child(5) { 
                        > div { 
                            width: 100%;
                        }
                    }
                    &:nth-child(6) { 
                        > div { 
                            width: 100%;
                            flex-direction: row;
                            align-items: center;                          
                            > input {
                                width: 1vw;
                                height: 1vw;
                                accent-color: $hotpink;
                                margin-right: .4vw;
                                cursor: pointer;
                            }
                            > a {
                                color: $violet;
                                font-weight: 700;
                                font-size: 1vw;
                                font-family: $kor;
                                margin-left: .4vw;
                            }
                        }
                    }
                }
                > button {
                    display: block;
                    width: 16%;
                    margin: 1% auto 0;
                    background-color: $violet;
                    font-weight: 700;
                    font-size: 1vw;
                    font-family: $kor;
                    border: none;
                    outline: none;
                    line-height: 240%;
                    border-radius: .4em;
                    background-color: $lightblack;
                    color: #EAEAEA;
                    cursor: pointer;
                    transition: all .5s;
                    &:hover {
                        background-color: $hotpink;
                        color: #FFF;
                    }
                }
            }
        }
    }
}

@media screen and (max-width:1024px) {
    #container {
        width: 100%;
        .cont1 {
            .cont1Bg {
                .center {
                    margin-top: 120px;
                    padding: 8vw 0;
                    > h5 {
                        font-size: 2vw;
                    }
                    > h2 {
                        font-size: 7vw;
                    }
                    .contact_wrap {
                        width: calc(14% + 8vw);
                        > p {
                            font-size: 1.5vw;
                        } 
                        > span {
                            width: 4vw;
                            height: 4vw;
                        }
                    } 
                }
            }
        }
        .cont2 {
            .center {
                width: 90%;
                padding: 4vw 0;
                > h3 {
                    font-size: 6vw;
                    > p {
                        position: relative;
                    }
                }
                .product_wrap {
                    .product {
                        width: 32%;
                        height: 28vw;
                        .text_wrap {
                            position: absolute;
                            top:0;
                            left:0;
                            padding: 10%;
                            font-family: $kor;
                            > h5 {
                                color: $hotpink;
                                font-weight: 800;
                                font-size: 3.2vw;
                                margin-bottom: 2vw;
                                text-shadow: $whiteTextShadow;
                            }
                            > p {
                                color: #FFF;
                                font-size: 1.6vw;
                                font-weight: 300;
                                line-height: 160%;
                                text-shadow: $whiteTextShadow;
                                word-break: keep-all;
                            }
                        }
                    }
                }
            }
        }
        .cont3 {
            .center{
                width: 80%;
                height: 40vw;
                .text_wrap {
                    font-size: 3vw;
                    word-break: keep-all;
                    > a {
                        display: flex;
                        width: 12vw;
                        height: 4.5vw;
                        font-size: 1.3vw;
                    }
                }
            }
        }
        .cont4 {
            display: flex;
            justify-content: center;
            overflow: hidden;
            cursor: pointer;
            background-color: #FFF;
            &:hover {
                .center {
                    .left_wrap {
                        .locate_wrap {
                            > img {
                                right: 5%;
                            }
                        } 
                    }
                }
            }
            .center {
                width: 90%;
                height: 45vw; 
                .left_wrap {
                    > h3 {
                        font-size: 6vw;
                    }
                    > p {
                        font-size: 2vw;
                        width: 80%;
                    }
                    .locate_wrap {
                        width: calc(32% + 8vw);
                        > p {
                            font-size: 1.6vw;
                        } 
                        > span {
                            width: 4vw;
                            height: 4vw;
                            border: 1px solid $violet;
                            border-radius: 50%;
                        }
                    }
                    > img {
                        width: calc(26% + 15vw);
                        animation: rotatecircle 12s infinite linear;
                    }
                }
                .right_wrap {
                    .swiper{
                        .swiper-wrapper{
                            > .swiper-slide {
                                > .slide_text {
                                    > div {
                                        width: 76%;
                                        > h4 {
                                            font-size: 2.4vw;
                                        }
                                        > p {
                                            font-size: 1.3vw;
                                        }
                                    }
                                }
                            }
                        }
                        .swiper-button-prev {
                            &::after {
                                font-size: 3vw;
                            }
                        }
                        .swiper-button-next {
                            &::after {
                                font-size: 3vw;
                            }
                        }
                    }
                }
            }
        }
        .cont5 {
            .center {
                width: 80%;
                #contact{
                    > h5 {
                        font-size: 1.6vw;
                    }
                    > h3 {
                        font-size: 6vw;
                    }
                    .input_wrap {
                        > div {
                            .phone {
                                > input {
                                    width: 30%;
                                    text-align: center;
                                }
                                > span {
                                    font-size: 1.6vw;
                                }
                            }
                            label {
                                font-size: 1.6vw;
                            }
                            input {
                                font-size: 1.6vw;
                            }
                            select {
                                font-size:1.6vw;
                            }
                            textarea {
                                font-size: 1.6vw;
                                height: 5em;
                            }
                        }
                        &:nth-child(6) { 
                            > div {                       
                                > input {
                                    width: 1.6vw;
                                    height: 1.6vw;
                                }
                                > a {
                                    font-size: 1.6vw;
                                }
                            }
                        }
                    }
                    > button {
                        width: 20%;
                        font-size: 1.6vw;
                    }
                }
            }
        }
    }
}

@media screen and (max-width:748px) {
    #container {
        width: 100%;
        .cont1 {
            .cont1Bg {
                .center {
                    padding: 5vw 0;
                    > h5 {
                        font-size: 2.4vw;
                    }
                    > h2 {
                        font-size: 12vw;
                    }
                    .contact_wrap {
                        width: calc(23% + 8vw);
                        margin-left: auto;
                        > p {
                            font-size: 2vw;
                        } 
                        > span {
                            width: 6vw;
                            height: 6vw;
                        }
                    } 
                }
            }
        }
        .cont2 {
            .center {
                width: 95%;
                padding: 4vw 0;
                > h3 {
                    font-size: 9vw;
                    > p {
                        position: relative;
                    }
                }
                .product_wrap {
                    .product {
                        width: 48.2%;
                        height: 42vw;
                        .text_wrap {
                            > h5 {
                                font-size: 5vw;
                            }
                            > p {
                                font-size: calc(4px + 2vw);
                            }
                        }
                    }
                }
            }
        }
        .cont3 {
            .center{
                width: 80%;
                height: 40vw;
                .text_wrap {
                    font-size: 4vw;
                    word-break: keep-all;
                    > a {
                        display: flex;
                        width: max-content;
                        font-size: 1.3vw;
                        padding: .5vw 1.5vw;
                    }
                }
            }
        }
        .cont4 {
            display: flex;
            justify-content: center;
            overflow: hidden;
            cursor: pointer;
            background-color: #FFF;
            &:hover {
                .center {
                    .left_wrap {
                        .locate_wrap {
                            > img {
                                right: 5%;
                            }
                        } 
                    }
                }
            }
            .center {
                width: 90%;
                height: auto;
                flex-direction: column; 
                align-items: center;
                .left_wrap {
                    align-items: center;
                    text-align: center;
                    > h3 {
                        font-size: 10vw;
                        margin-top: 4vw;
                        line-height: 160%;
                    }
                    > p {
                        font-size: 3vw;
                        width: 100%;
                    }
                    .locate_wrap {
                        width: calc(23% + 8vw);
                        > p {
                            font-size: 1.6vw;
                        } 
                        > span {
                            width: 5vw;
                            height: 5vw;
                            border: 1px solid $violet;
                            border-radius: 50%;
                        }
                        > img {
                            width: 30%;
                        }
                    }
                    > img {
                        display: none;
                    }
                }
                .right_wrap {
                    width: 100%;
                    margin-bottom: 4vw;
                    .swiper{
                        .swiper-wrapper{
                            > .swiper-slide {
                                > img {
                                    height: 40%;
                                }
                                > .slide_text {
                                    padding: 4vw 0 12vw;
                                    > div {
                                        width: 90%;
                                        word-break: keep-all;
                                        font-family: $kor;
                                        text-align: center;
                                        > h4 {
                                            font-size: 8vw;
                                            line-height: 160%;
                                        }
                                        > p {
                                            font-size: 3.6vw;
                                        }
                                    }
                                }
                            }
                        }
                        .swiper-button-prev {
                            height: 7vw;
                            background-color: #FFF;
                            top: 54%;
                            left: 1%;
                            padding: 1%;
                            border-radius: 50%;
                            &::after {
                                font-size: 4vw;
                            }
                        }
                        .swiper-button-next {
                            height: 7vw;
                            background-color: #FFF;
                            top: 54%;
                            right: 1%;
                            padding: 1%;
                            border-radius: 50%;
                            &::after {
                                font-size: 4vw; 
                            }
                        }
                    }
                }
            }
        }
        .cont5 {
            .center {
                width: 80%;
                #contact{
                    > h5 {
                        font-size: 1.6vw;
                    }
                    > h3 {
                        font-size: 6vw;
                    }
                    .input_wrap {
                        > div {
                            .phone {
                                > input {
                                    width: 30%;
                                    text-align: center;
                                }
                                > span {
                                    font-size: 1.6vw;
                                }
                            }
                            label {
                                font-size: 1.6vw;
                            }
                            input {
                                font-size: 1.6vw;
                            }
                            select {
                                font-size:1.6vw;
                            }
                            textarea {
                                font-size: 1.6vw;
                                height: 5em;
                            }
                        }
                        &:nth-child(6) { 
                            > div {                       
                                > input {
                                    width: 1.6vw;
                                    height: 1.6vw;
                                }
                                > a {
                                    font-size: 1.6vw;
                                }
                            }
                        }
                    }
                    > button {
                        width: 20%;
                        font-size: 1.6vw;
                    }
                }
            }
        }
    }
}