$lightpink: #F2DCE0;
$hotpink: #F20587;
$violet: #BF2195;
$lilac: #CF61A6;
$black: #1C1C1C;
$lightblack: #2A2A2A;
$kor: 'TheJamsil';
$eng:'Marcellus';
$whiteTextShadow:2px 2px 5px #0005;

#container {
    // 공통사항
    .title {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 80px;
        > h2 {
            &::before {
                content: "";
                display: inline-block;
                position: absolute;
                top: -20%;
                right: -20%;
                background-color: #CF61A6;
                width: 32%;
                height: 71.3%;
                border-radius: 50%;
            }
            text-align: center;
            font-size: 4vw;
            font-family: "Marcellus";
            line-height: 100%;
            position: relative;
            width: max-content;
            margin: 4vw auto;
            > p {
                position: relative;
            }
        } 
    }
    .intro_wrap {
        display: flex;
        justify-content: space-between;
        width: 70%;
        margin: 0 auto 4%;
        .left_wrap {
            width: 30%;
            .img_wrap {
                width: 80%;
                > img {
                    width: 100%;
                    top:0; left:0;
                }
                     
            }
        }
        .right_wrap {
            width: 70%;
            font-family: $kor;
            .subtitle {
                font-weight: 500;
                font-size: 1.6vw;
                color: $lightblack;
                margin-bottom: .8vw;
            }
            .headline {
                font-weight: 800;
                font-size: 4vw;
                color: $violet;
                line-height: 160%;
                color: $violet;
                text-shadow: -.1vw .1vw 0 $lightpink, -.3vw .3vw 0 $lilac, -.6vw .6vw 0 $lightpink;
                margin-bottom: 4%;
            }
            .context {
                font-size: 1vw;
                line-height: 160%;
                font-weight: 300;
                color: $lightblack;
                > strong {
                    font-size: 1.4vw;
                    font-weight: 700;
                    line-height: 240%;
                }
                > p {
                    word-break: keep-all;
                    margin-bottom: 4%;
                } 
            }
            .author {
                font-size: 1vw;
                color: $black;
                font-weight: 500;
                margin-right: .5vw;
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                div{
                    > span {
                        margin-right: .5vw;
                    }
                    > strong {
                        letter-spacing: 1vw;
                        font-weight: 800;
                        font-size: 2vw;
                    }
                    margin-bottom: 4%;
                }       
                img {
                    transform: translateX(10%);
                }       
            }
        }
    }
}
@media screen and (max-width:1024px) {
    #container {
        .title {
            padding-top: 130px;
            > h2 {
                font-size: 6vw;
            } 
        }
        .intro_wrap {
            width: 80%;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .left_wrap {
                .img_wrap {
                    width: 100%;
                }
            }
            .right_wrap {
                margin-top: 4%;
                width: 100%;
                text-align: center;
                .subtitle {
                    font-size: calc(16px + .2vw);
                }
                .headline {
                    font-size: 6vw;
                }
                .context {
                    font-size: 1vw;
                    font-weight: 300;
                    color: $lightblack;
                    > strong {
                        font-size: calc(13px + 1vw);
                        word-break: keep-all;
                        line-height: 120%;
                        padding-bottom: 2rem;
                        display: block;
                        width: 65%;
                        margin: 0 auto;
                    }
                    > p {
                        font-size: calc(13px + 0.1vw);
                        line-height: 200%;
                        margin-bottom: 8%;
                    } 
                }
                .author {
                    font-size: calc(13px + .1vw);
                    div{
                        > span {
                            margin-right: 1em;
                        }
                        > strong {
                            letter-spacing: .4em;
                            font-size: calc(13px + 1vw);
                        }
                    }       
                    img {
                        transform: translateX(10%);
                    }       
                }
            }
        }
    }
}
@media screen and (max-width:748px) {
    #container {
        .title {
            margin-bottom: 8%;
            > h2 {
                font-size: 9vw;
            } 
        }
        .intro_wrap {
            width: 95%;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .left_wrap {
                width: 50%;
                margin-bottom: 6%;
                .img_wrap {
                    width: 100%;
                }
            }
            .right_wrap {
                margin-top: 8%;
                .subtitle {
                    font-size: calc(20px + 0.4vw);
                    word-break: keep-all;
                }
                .headline {
                    font-size: 9vw;
                    word-break: keep-all;
                    margin-bottom: 8%;
                }
                .context {
                    font-size: 1vw;
                    font-weight: 300;
                    color: $lightblack;
                    > strong {
                        font-size: calc(14px + 1vw);
                        line-height: 160%;
                        width: 90%;
                    }
                    > p {
                        font-size: calc(13px + 0.4vw);
                        line-height: 200%;
                        margin-bottom: 8%;
                    } 
                }
                .author {
                    font-size: calc(13px + .1vw);
                    div {
                        > span {
                            margin-right: 1em;
                        }
                        > strong {
                            letter-spacing: .4em;
                            font-size: calc(13px + 1vw);
                        }
                    }       
                    img {
                        transform: translateX(10%);
                    }       
                }
            }
        }
    }
}
@media screen and (max-width:500px) {
    #container {
        .title {
            margin-bottom: 8%;
            > h2 {
                font-size: 12vw;
            } 
        }
        .intro_wrap {
            width: 95%;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .left_wrap {
                width: 50%;
                margin-bottom: 6%;
                .img_wrap {
                    width: 100%;
                }
            }
            .right_wrap {
                margin-top: 8%;
                .subtitle {
                    font-size: calc(20px + 0.4vw);
                    word-break: keep-all;
                }
                .headline {
                    font-size: 9vw;
                    word-break: keep-all;
                    margin-bottom: 8%;
                    text-shadow: -0.4vw 0.4vw 0 #F2DCE0, -0.8vw 0.8vw 0 #CF61A6, -1.2vw 1.2vw 0 #F2DCE0;
                }
                .context {
                    font-size: 1vw;
                    font-weight: 300;
                    color: $lightblack;
                    > strong {
                        font-size: calc(14px + 1vw);
                        line-height: 160%;
                        width: 90%;
                    }
                    > p {
                        font-size: calc(13px + 0.4vw);
                        line-height: 200%;
                        margin-bottom: 8%;
                    } 
                }
                .author {
                    font-size: calc(13px + .1vw);
                    div {
                        > span {
                            margin-right: 1em;
                        }
                        > strong {
                            letter-spacing: .4em;
                            font-size: calc(13px + 1vw);
                        }
                    }       
                    img {
                        transform: translateX(10%);
                    }       
                }
            }
        }
    }
}