$lightpink: #F2DCE0;
$hotpink: #F20587;
$violet: #BF2195;
$lilac: #CF61A6;
$black: #1C1C1C;
$lightblack: #2A2A2A;
$kor: 'TheJamsil';
$eng:'Marcellus';
$whiteTextShadow:2px 2px 5px #0005;

#container {
    // 공통사항
    .title {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 80px;
        > h2 {
            &::before {
                content: "";
                display: inline-block;
                position: absolute;
                top: -20%;
                right: -24%;
                background-color: #CF61A6;
                width: 43%;
                height: 71.3%;
                border-radius: 50%;
            }
            text-align: center;
            font-size: 4vw;
            font-family: "Marcellus";
            line-height: 100%;
            position: relative;
            width: max-content;
            margin: 4vw auto;
            > p {
                position: relative;
            }
        } 
    }
    .join_wrap {
        display: flex;
        justify-content: space-between;
        width: 70%;
        margin: 0 auto 4%;
        font-family: $kor;
        > form {
            width: 100%;
            .terms {
                width: 100%;
                > h4 {
                    font-weight: 700;
                    font-size: calc(20px + 1vw);
                    color: $violet;
                    line-height: 200%;
                }
                > div {
                    width: 100%;
                    pre {
                        font-size: calc(13px + .1vw);
                        white-space:pre-line;
                        height: 5vw;
                        overflow-y: scroll;
                        font-family: $kor;
                        font-weight: 300;
                        border: .1vw solid $lightblack;
                        line-height: 160%;
                        transition: all .5s;
                        opacity: 1;
                        &.checked {
                            height: 0;
                            opacity: 0;
                        }
                    }
                    .checkbox_wrap {
                        display: flex;
                        justify-content: flex-end;
                        align-items: center;
                        line-height: 280%;
                        font-weight: 500;
                        color: $black;
                        font-size: calc(16px + .1vw);
                        > input {
                            outline: none;
                            accent-color: $lilac;
                            margin-right: 1%;
                            width: calc(16px + .1vw);
                            height: calc(16px + .1vw);
                            cursor: pointer;
                        }
                        > label {
                            cursor: pointer;
                        }
                    }
                    
                }
            }
            .info {
                display: flex;
                align-items: center;
                border: .1vw solid $lightblack;
                border-top: none;
                &:nth-child(2) {
                    border-top: .1vw solid $lightblack;
                }
                .label {
                    width: 12%;
                    font-size: calc(13px + .1vw);
                    min-width: 100px;
                    line-height: 400%;
                    text-align: center;
                    border-right: .1vw solid $lightblack;
                    word-break: keep-all;
                }
                input {
                    border: none;
                    border-bottom: .2vw solid $lightblack;
                    line-height: 200%;
                    outline: none;
                    font-family: $kor;
                    text-align: center;
                    font-size: calc(13px + .1vw);
                    &::placeholder {
                        text-align: center;
                    }
                }
                .input {
                    display: flex;
                    align-items: center;
                    margin-left: 1vw;
                    span {
                        border-bottom: .2vw solid $lightblack;
                        line-height: 200%;
                        font-size: calc(13px + .1vw);
                        width: max-content;
                    }
                    #userGender {
                        width: 1vw;
                    }
                    #userPhone1 {
                        width: 6vw;
                    }
                    #userPhone2 {
                        width: 6vw;
                    }
                    #userPhone3 {
                        width: 6vw;
                    }
                }
                .confirm {
                    margin-left: .5vw;
                    > button {
                        display: inline-block;
                        border: none;
                        outline: none;
                        background-color: $lightblack;
                        color: #FFF;
                        font-family: $kor;
                        font-weight: 500;
                        font-size: calc(13px + .1vw);
                        height: calc(13px + 1vw);
                        padding: 0 1vw;
                        margin-right: 1vw;
                        border-radius: .4vw;
                        cursor: pointer;
                        transition: all .5s;
                        &:hover {
                            background-color: $lilac;
                        }
                    }
                    > span {
                        font-size: calc(13px + .1vw);
                        font-weight: 300;
                        line-height: 120%;
                        word-break: keep-all;
                    }
                }
            }
            > button {
                display: block;
                width: 12%;
                margin: 2% auto;
                padding: .5vw 1vw;
                font-family: $kor;
                font-size: 1vw;
                font-weight: 500;
                border: none;
                outline: none;
                cursor: pointer;
                transition: all .5s;
                &:hover {
                    color: #FFF;
                    background-color: $violet;
                }
            }
        }
    }
}
@media screen and (max-width:1024px) {
    #container {
        .title {
            padding-top: 130px;
            > h2 {
                font-size: 6vw;
            } 
        }
        .join_wrap {
            width: 80%;
            > form {
                .info {
                    flex-wrap: wrap;
                    .label {
                        width: 100%;
                        font-size: calc(13px + .1vw);
                        min-width:unset;
                        line-height: 200%;
                        text-align: center;
                        border-right: none;
                        border-bottom: .1vw solid $lightblack;
                        word-break: keep-all;
                    }
                    input {
                        border: none;
                        border-bottom: .2vw solid $lightblack;
                        line-height: 200%;
                        outline: none;
                        font-family: $kor;
                        text-align: center;
                        font-size: calc(13px + .1vw);
                        &::placeholder {
                            text-align: center;
                        }
                    }
                    .confirm {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        margin: 1% auto 0;
                        > button {
                            width: max-content;
                            margin-right: unset;
                        }
                        > span {
                            font-size: calc(13px + .1vw);
                            font-weight: 300;
                            line-height: 240%;
                            text-align: center;
                        }
                    }
                    .input {
                        width: 100%;
                        margin-left: unset;
                        justify-content: center;
                        span {
                            width: max-content;
                        }
                    }
                }
                > button {
                    display: block;
                    width: max-content;
                    margin: 2% auto;
                    padding: 1.5vw 2vw;
                    font-family: $kor;
                    font-size: calc(13px + .1vw);
                    font-weight: 500;
                    border: none;
                    outline: none;
                    cursor: pointer;
                    transition: all .5s;
                    &:hover {
                        color: #FFF;
                        background-color: $violet;
                    }
                }
            }
        }
    }
}
@media screen and (max-width:748px) {
    #container {
        .title {
            margin-bottom: 8%;
            > h2 {
                font-size: 9vw;
            } 
        }
    }
}
@media screen and (max-width:500px) {
    #container {
        .title {
            margin-bottom: 8%;
            > h2 {
                font-size: 12vw;
            } 
        }
    }
}