$lightpink: #F2DCE0;
$hotpink: #F20587;
$violet: #BF2195;
$lilac: #CF61A6;
$black: #1C1C1C;
$lightblack: #2A2A2A;
$kor: 'TheJamsil';
$eng:'Marcellus';
$whiteTextShadow:2px 2px 5px #0005;

input {
    border: none;
    outline: none;
    font-family: $kor;
    font-weight: 300;
    text-align: center;
    border-bottom: .2vw solid $black;
    line-height: 200%;
    font-size: calc(13px + .1vw);
    &:disabled {
        background-color: transparent;
        border-bottom: none;
        color: $black;
    }
}

#container {
    // 공통사항
    .title {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 80px;
        > h2 {
            &::before {
                content: "";
                display: inline-block;
                position: absolute;
                top: -20%;
                right: -12%;
                background-color: #CF61A6;
                width: 0.8em;
                height: 0.8em;
                border-radius: 50%;
            }
            text-align: center;
            font-size: 4vw;
            font-family: "Marcellus";
            line-height: 100%;
            position: relative;
            width: max-content;
            margin: 4vw auto;
            > p {
                position: relative;
            }
        } 
    }
    .trialinfo_wrap {
        display: flex;
        justify-content: center;
        > div {
            width: 70%;
            font-family: $kor;
            > h4 {
                font-size: calc(20px + 1.5vw);
                color: $violet;
                font-weight: 700;
                line-height: 200%;
            }
        }
        .trialWrap {
            .t_head {
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                background-color: $lilac;
                color: #FFF;   
                > li {
                    display: block;
                    width: max-content;
                    text-align: center;
                    padding: 1em 0;
                    word-break: keep-all;
                    font-weight: 700;
                    font-size: calc(16px + .1vw);
                    &:first-child {
                        width: 8%;
                        border-left: 1px solid $violet;
                    }
                    &:nth-child(2) {
                        width: 16%;
                    }
                    &:nth-child(3) {
                        width: 12%;
                    }
                    &:nth-child(4) {
                        width: 16%;
                    }
                    &:nth-child(5) {
                        width: 36%;
                        word-break: keep-all;
                    }
                    &:last-child {
                        width: 12%;
                    }
                }
            }
            .trials {
                width: 100%;
                position: relative;
                height: 50%;
                overflow-y: scroll;
                border-bottom: 1px solid $lilac;
                &::-webkit-scrollbar { 
                    // 스크롤바 영역에 대한 설정
                    background-color: $lightpink;
                    width: calc(10px - .1vw);
                    height: 100%;
                } 
                &::-webkit-scrollbar-thumb { 
                    // 스크롤바 막대에 대한 설정
                    background-color: $lilac;               
                }
                .trial {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    border-top: 1px solid $violet;
                    > li {
                        display: block;
                        font-size: calc(13px + .1vw);
                        width: max-content;
                        text-align: center;
                        padding: 1em 0;
                        line-height: 120%;
                        height: auto;
                        word-break: keep-all;
                        
                        &:first-child {
                            width: 8%;
                        }
                        &:nth-child(2) {
                            width: 16%;
                            display: flex;
                            flex-direction: column;
                            > a {
                                color: $violet;
                                margin-right: 1%;
                                display: none;
                            }
                        }
                        &:nth-child(3) {
                            width: 12%;                            
                        }
                        &:nth-child(4) {
                            width: 16%;
                        }
                        &:nth-child(5) {
                            width: 36%;
                        }
                        &:last-child {
                            width: 12%;
                            border-right: none;
                        }
                    }
                }
            }
        }
    }
    .memberinfoWrap {
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
        font-family: $kor;
        > h4 {
            width: 70%;
            font-size: calc(20px + 1.5vw);
            color: $violet;
            font-weight: 700;
            line-height: 200%;
        }
        #memberEdit {
            width: 70%;
            font-family: $kor;
            margin-bottom: 4%;
            border-top: 1px solid $lilac;
            .info {
                display: flex;
                justify-content: space-between;
                border: 1px solid $lilac;
                border-top: none;
                &.readonly {
                    .input { 
                        width: 17.333333%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }
                .label {
                    width: 16%;
                    text-align: center;
                    font-size: calc(13px + .1vw);
                    padding: 1em 0 ;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-right: 1px solid $lilac;
                    font-weight: 700;
                    background-color: $lilac;
                    word-break: keep-all;
                    color: #FFF;
                }
                .input {
                    padding: 1em 0 ;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    > input {
                        &#userGender {
                            width: calc(13px + .1vw);
                        }
                        &#userPhone1 {
                            width: calc(39px + 0.3vw);
                        }
                        &#userPhone2 {
                            width: calc(78px + .6vw);
                        }
                        &#userPhone3 {
                            width: calc(78px + .6vw);       
                        }
                    }
                    > p {
                        width: max-content;
                        resize: none;
                        font-family: $kor;
                        text-align: center;
                        border: none;
                        outline: none;
                        background-color: transparent;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-size: calc(13px + .1vw);
                        line-height: 120%;
                    }
                    > button {
                        width: max-content;
                        font-size: calc(13px + .1vw);
                        background-color: $lightblack;
                        border: none;
                        color: #FFF;
                        line-height: 200%;
                        font-family: $kor;
                        border-radius: .2vw;
                        font-weight: 300;
                        cursor: pointer;
                        transition: all .5s;
                        word-break: keep-all;
                        padding: 0 1em;
                        &:hover {
                            background-color: $lilac;
                        }
                    }
                }
                .confirm {
                    padding: 1em 0 ;
                    width: 20%;
                    word-break: keep-all;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                }
            }
            #memberEditBtn {
                width: max-content;
                display: flex;
                margin: 1em auto;
                font-size: calc(13px + .1vw);
                background-color: $lightblack;
                border: none;
                color: #FFF;
                line-height: 400%;
                font-family: $kor;
                border-radius: .2vw;
                font-weight: 300;
                cursor: pointer;
                transition: all .5s;
                word-break: keep-all;
                padding: 0 1em;
                &:hover {
                    background-color: $lilac;
                }
            }
        }
    }
}
@media screen and (max-width:1024px) { 
    #container {
        .title {
            padding-top: 130px;
            > h2 {
                font-size: 6vw;
            } 
        }
        .trialinfo_wrap {
            > div {
                width: 80%;
            }
        }
        .memberinfoWrap {
            > h4 {
                width: 80%;
            }
            #memberEdit {
                width: 80%;
                
            }
        }
    }
}
@media screen and (max-width:748px) {
    #container {
        .title {
            margin-bottom: 8%;
            > h2 {
                font-size: 9vw;
            } 
        }
        .trialinfo_wrap {
            .trialWrap {
                width: 90%;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                margin-bottom: 5%;
                > h4 {
                    width: 100%;
                }
                .trial {
                    flex-direction: column;
                    &.t_head {
                        width: 38%;
                        padding-bottom: calc(15px - 0.1vw);
                        > li {
                            &:nth-child(1){
                                width: 75%;
                                text-align: center;
                                word-break: keep-all;
                                line-height: 120%;
                                border-left: none;
                            }
                            &:nth-child(2){
                                width: 75%;
                                text-align: center;
                                word-break: keep-all;
                                line-height: 120%;
                            }
                            &:nth-child(3){
                                width: 75%;
                                text-align: center;
                                word-break: keep-all;
                                line-height: 120%;
                            }
                            &:nth-child(4){
                                width: 75%;
                                text-align: center;
                                word-break: keep-all;
                                line-height: 120%;
                            }
                            &:nth-child(5){
                                width: 75%;
                                text-align: center;
                                word-break: keep-all;
                                line-height: 500%;
                            }
                            &:nth-child(6){
                                width: 75%;
                                text-align: center;
                                word-break: keep-all;
                                line-height: 120%;
                            }
                        }
                    }
                }
                .trials {
                    display: flex;
                    flex-direction: row;
                    width: 61.7%;
                    height: auto;
                    border-right: 1px solid $lilac;
                    overflow-y: unset;
                    overflow-x: scroll;
                    &::-webkit-scrollbar { 
                        // 스크롤바 영역에 대한 설정
                        background-color: $lightpink;
                        width: 100%;
                        height: calc(10px - .1vw);
                    } 
                    &::-webkit-scrollbar-thumb { 
                        // 스크롤바 막대에 대한 설정
                        background-color: $lilac;               
                    }
                    .trial {
                        width: 50vw;
                        &.t_body {
                            flex-direction: column;
                            border-left: 1px solid $lilac;
                            > li {
                                width: 50vw;
                                border-bottom: 1px solid $lilac;
                                display: flex;
                                justify-content: center;
                                align-items: center;;
                                &.trial_context {
                                    height: 20%;
                                }
                            } 
                        }
                    }

                }
            }
        }
        .memberinfoWrap {
            > h4 {
                width: 90%;
            }
            #memberEdit {
                width: 90%;
                .info {
                    flex-wrap: wrap;
                    > .label {
                        width: 100%;
                        label{
                            width: 100%;
                            text-align: center;
                            line-height: 120%;
                        }
                    }
                    .input {
                        width: 100%;
                        justify-content: center;
                    }
                    .confirm {
                        width: 100%;
                        justify-content: center;
                        text-align: center;
                    }
                }
                .info.readonly {
                    flex-wrap: wrap;
                    > div {
                        &.label{
                            width: 48.8%;
                        }
                        &.input{
                            width: 50.9%;
                            border-bottom: 1px solid $lilac;
                            &:last-child {
                                border: none;
                            }
                        }
                    }
                }
            }
        }
    }
}