    <div id="footer">
        <div class="center">
            <div class="f_top">
                <img src="/img/logowhite.png">
                <div class="sns_wrap">
                    <a href="#"><i class="fa-brands fa-square-youtube"></i></a>
                    <a href="#"><i class="fa-brands fa-square-twitter"></i></a>
                    <a href="#"><i class="fa-brands fa-square-instagram"></i></a>
                    <a href="#"><i class="fa-brands fa-square-facebook"></i></a>
                </div>
            </div>
            <div class="f_mid">
                <span>상호명: 주식회사피엘지</span>
                <span>대표자: 진달래</span>
                <span>사업자번호 : 514-81-85962</span>
                <span>TEL: 1522-0617</span>
                <span>FAX: 053-634-6937</span>
                <span>주소 : 대구광역시 조암남로42 트럼프스타 빌딩 4F</span>
            </div>
            <div class="f_bot">
                Copyright © 2023. 주식회사피엘지. All rights reserved.
            </div>
        </div>
    </div>
    <div id="m_gnb">
        <ul class="Gnb">
            <li><a href="/intro">체육관 소개</a></li>
            <li><a href="/program">프로그램</a></li>
            <li><a href="/location">지점안내</a>
                <ul class="depth2">
                    <li><a href="#">월성점</a></li> 
                    <li><a href="#">침산점</a></li> 
                    <li><a href="#">범어점</a></li> 
                    <li><a href="#">동성로점</a></li>
                    <li><a href="#">연경점</a></li> 
                    <li><a href="#">죽전점</a></li> 
                </ul>
            </li>
            <li><a href="/intro">커뮤니티</a></li>
            <li><a href="/#trial">무료체험</a></li>
        </ul>
    </div>
</body>
</html>