    <div id="footer">
        <div class="center">
            <div class="f_top">
                <img src="/img/logowhite.png">
                <div class="sns_wrap">
                    <a href="#"><i class="fa-brands fa-square-youtube"></i></a>
                    <a href="#"><i class="fa-brands fa-square-twitter"></i></a>
                    <a href="#"><i class="fa-brands fa-square-instagram"></i></a>
                    <a href="#"><i class="fa-brands fa-square-facebook"></i></a>
                </div>
            </div>
            <div class="f_mid">
                <span>상호명: 주식회사피엘지</span>
                <span>대표자: 진달래</span>
                <span>사업자번호 : 514-81-85962</span>
                <span>TEL: 1522-0617</span>
                <span>FAX: 053-634-6937</span>
                <span>주소 : 대구광역시 조암남로42 트럼프스타 빌딩 4F</span>
            </div>
            <div class="f_bot">
                Copyright © 2023. 주식회사피엘지. All rights reserved.
            </div>
        </div>
    </div>
    <div class="m_gnb_bg">
        <div class="m_gnb_wrap">
            <div id="m_gnb">
                <div class="user_wrap">
                    <div class="hbg_menu"><!--모바일에서만 보일 모바일 메뉴 여닫는 버튼-->
                        <a href="#" class=>
                            <span class="line one"></span>
                            <span class="line two"></span>
                            <span class="line three"></span>
                        </a>
                    </div>
                    <h1 class="logo_wrap"><a href="/"><img src="/img/logoblack.png" /></a></h1>
                    <div class="users">
                        <% if (login) { %>
                            <a href="/mypage">박회원 님</a>
                            <a href="/logout">
                                <span class="material-symbols-outlined">logout</span>
                            </a>
                        <% } else { %> 
                            <a href="/join">회원가입</a>
                            <a href="/login">
                                <span class="material-symbols-outlined">login</span>
                            </a>
                        <% } %>
                    </div>
                </div>
                <ul class="Gnb">
                    <li><a href="/intro">체육관 소개</a></li>
                    <li class="depth1">
                        <a href="/program">
                            <span>
                                <p>프로그램</p>
                                <span class="material-symbols-outlined">expand_more</span>
                            </span>
                        </a>
                        <ul class="depth2">
                            <li><a href="#">MEMBERSHIP</a></li> 
                            <li><a href="#">SPINNING</a></li> 
                            <li><a href="#">PT</a></li> 
                            <li><a href="#">GOLF</a></li>
                            <li><a href="#">PILATES</a></li> 
                            <li><a href="#">SPA</a></li> 
                        </ul>   
                    </li>
                    <li class="depth1">
                        <a href="/location">
                            <span>
                                <p>지점안내</p>
                                <span class="material-symbols-outlined">expand_more</span>
                            </span>
                        </a>
                        <ul class="depth2">
                            <li><a href="#">월성점</a></li> 
                            <li><a href="#">침산점</a></li> 
                            <li><a href="#">범어점</a></li> 
                            <li><a href="#">동성로점</a></li>
                            <li><a href="#">연경점</a></li> 
                            <li><a href="#">죽전점</a></li> 
                        </ul>
                    </li>
                    <li class="depth1">
                        <a href="/board/free">
                            <span>
                                <p>커뮤니티</p>
                                <span class="material-symbols-outlined">expand_more</span>
                            </span>
                        </a>
                        <ul class="depth2">
                            <% if (login) { %>
                                <li><a href="/board/free">자유게시판</a></li> 
                                <li><a href="/board/sell">중고거래</a></li> 
                            <% } else {%>
                                <li><a href="/join">회원가입</a></li>
                                <li><a href="/login">로그인</a></li> 
                            <% } %>
                        </ul>
                    </li>
                    <% if (login) { %>
                        <li><a href="/mypage">마이페이지</a></li>
                    <% } else {%>
                        <li><a href="/#contact">무료체험</a></li>
                    <% } %>
                </ul>
            </div>
        </div>
    </div>
    <% if (!login) { %>
        <div class="login_bg">
            <div class="login_wrap">
                <button class="close_btn" type="button">×</button>
                <form action="/logincheck" method="post">
                    <label for="userID">아이디</label>
                    <input id="userID" type="text" placeholder="아이디를 입력해주세요" name="userID"/>
                    <label for="userPW">비밀번호</label>
                    <input id="userPW" type="password" name="userPW" placeholder="비밀번호를 입력해주세요"/>
                    <div>
                        <span class="ErrorMsg">입력하신 아이디나 비밀번호가 올바르지 않습니다!</span>
                        <div>
                            <button type="button">관리자 계정</button>
                            <button type="button" onclick="window.location.href='/join'; document.querySelector('.login_bg').style.display='none';">회원가입</button>
                            <button type="submit" class="loginBtn">로그인</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    <% } %>
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
    <!-- swiper js -->
    <% if (jsFiles.length !== 0) { %>
        <%# 보내준 jsFile 갯수만큼 반복문 돌려서 link 태그 생성 %>
        <% jsFiles.forEach((js, idx) => { %>
            <script src="/js/<%- js %>"></script>
        <% }) %>
    <% } %>  
</body>
</html>