<%- include('header', {title:"핑크짐 소개",  cssFiles:["reset.css","header.css", "footer.css", "intro.css"]})%>
<div id="container">
    <div class="title">
        <h2><p>Intro</p></h2>
    </div>
    <div class="intro_wrap">
        <div class="left_wrap">
            <div class="img_wrap">
                <img src="/img/profile.png">
            </div>
        </div>
        <div class="right_wrap">
            <h6 class="subtitle">여성들이 오직, 운동에만 집중할 수 있도록</h6>
            <h3 class="headline">PINK LADIES GYM</h3>
            <div class="context">
                <strong>저희 핑크짐은 강사도, 회원도 LADIES ONLY인 프리미엄 회원제 헬스장입니다.</strong>
                <p>헬스 트레이너로 근무한 지난 20년 동안 수많은 여성 회원분들을 봐왔지만, 여성분들이 마음놓고 운동하기 좋은 헬스장은 많이 없었습니다. 체육인으로서 운동 과정에서 벌어지는 불미스러운 일들이나, 헬스장에서 생기는 여성의 문제들을 겪으며 생각보다 많은 여성이 헬스장에 오고 싶지 않아한다는 것을 피부로 느꼈습니다. 여성들이 마음놓고 운동하고, 나 자신과 운동 자체에만 집중할 수 있는 환경을 만들고 싶어서 여기까지 오게 되었습니다.</p>
                <strong>퀄리티와 가격, 그 무엇도 양보하지 않습니다.</strong>
                <p>여성 전용이라고 타 헬스장보다 터무니없이 비싼 요금을 받거나, 저렴하다고 능력없는 강사진과 열악한 시설을 구비하고 싶지 않았습니다. 여성 회원들만을 위한 최고의 시설과 열정있는 강사진, 다양한 운동기구와 품격있는 부대시설을 완비했습니다. 저희 핑크짐은 여성전용 헬스장의 새로운 기준이 되고자 합니다. 핑크짐을 이용하는 여성분들이 행복한 운동, 즐거운 운동, 나를 위한 운동을 할 수 있도록 노력하겠습니다.</p>
            </div>
            <div class="author">
                <div><span>설립자</span><strong>진달래</strong></div>      
                <img src="/img/signature.png">
            </div>
        </div>
    </div>
</div>    
<%- include('footer', {jsFiles:["header.js", "mGnb.js", "login.js"]})%>