#container .title {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 80px;
}
#container .title > h2 {
  text-align: center;
  font-size: 4vw;
  font-family: "Marcellus";
  line-height: 100%;
  position: relative;
  width: -moz-max-content;
  width: max-content;
  margin: 4vw auto;
}
#container .title > h2::before {
  content: "";
  display: inline-block;
  position: absolute;
  top: -20%;
  right: -24%;
  background-color: #CF61A6;
  width: 43%;
  height: 71.3%;
  border-radius: 50%;
}
#container .title > h2 > p {
  position: relative;
}
#container .join_wrap {
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin: 0 auto 4%;
  font-family: "TheJamsil";
}
#container .join_wrap > form {
  width: 100%;
}
#container .join_wrap > form .terms {
  width: 100%;
}
#container .join_wrap > form .terms > h4 {
  font-weight: 700;
  font-size: calc(20px + 1vw);
  color: #BF2195;
  line-height: 200%;
}
#container .join_wrap > form .terms > div {
  width: 100%;
}
#container .join_wrap > form .terms > div pre {
  font-size: calc(13px + 0.1vw);
  white-space: pre-line;
  height: 5vw;
  overflow-y: scroll;
  font-family: "TheJamsil";
  font-weight: 300;
  border: 0.1vw solid #2A2A2A;
  line-height: 160%;
  transition: all 0.5s;
  opacity: 1;
}
#container .join_wrap > form .terms > div pre.checked {
  height: 0;
  opacity: 0;
}
#container .join_wrap > form .terms > div .checkbox_wrap {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  line-height: 280%;
  font-weight: 500;
  color: #1C1C1C;
  font-size: calc(16px + 0.1vw);
}
#container .join_wrap > form .terms > div .checkbox_wrap > input {
  outline: none;
  accent-color: #CF61A6;
  margin-right: 1%;
  width: calc(16px + 0.1vw);
  height: calc(16px + 0.1vw);
  cursor: pointer;
}
#container .join_wrap > form .terms > div .checkbox_wrap > label {
  cursor: pointer;
}
#container .join_wrap > form .info {
  display: flex;
  align-items: center;
  border: 0.1vw solid #2A2A2A;
  border-top: none;
}
#container .join_wrap > form .info:nth-child(2) {
  border-top: 0.1vw solid #2A2A2A;
}
#container .join_wrap > form .info .label {
  width: 12%;
  font-size: calc(13px + 0.1vw);
  min-width: 100px;
  line-height: 400%;
  text-align: center;
  border-right: 0.1vw solid #2A2A2A;
  word-break: keep-all;
}
#container .join_wrap > form .info input {
  border: none;
  border-bottom: 0.2vw solid #2A2A2A;
  line-height: 200%;
  outline: none;
  font-family: "TheJamsil";
  text-align: center;
  font-size: calc(13px + 0.1vw);
}
#container .join_wrap > form .info input::-moz-placeholder {
  text-align: center;
}
#container .join_wrap > form .info input::placeholder {
  text-align: center;
}
#container .join_wrap > form .info .input {
  display: flex;
  align-items: center;
  margin-left: 1vw;
}
#container .join_wrap > form .info .input span {
  border-bottom: 0.2vw solid #2A2A2A;
  line-height: 200%;
  font-size: calc(13px + 0.1vw);
  width: -moz-max-content;
  width: max-content;
}
#container .join_wrap > form .info .input #userGender {
  width: 1vw;
}
#container .join_wrap > form .info .input #userPhone1 {
  width: 6vw;
}
#container .join_wrap > form .info .input #userPhone2 {
  width: 6vw;
}
#container .join_wrap > form .info .input #userPhone3 {
  width: 6vw;
}
#container .join_wrap > form .info .confirm {
  margin-left: 0.5vw;
}
#container .join_wrap > form .info .confirm > button {
  display: inline-block;
  border: none;
  outline: none;
  background-color: #2A2A2A;
  color: #FFF;
  font-family: "TheJamsil";
  font-weight: 500;
  font-size: calc(13px + 0.1vw);
  height: calc(13px + 1vw);
  padding: 0 1vw;
  margin-right: 1vw;
  border-radius: 0.4vw;
  cursor: pointer;
  transition: all 0.5s;
}
#container .join_wrap > form .info .confirm > button:hover {
  background-color: #CF61A6;
}
#container .join_wrap > form .info .confirm > span {
  font-size: calc(13px + 0.1vw);
  font-weight: 300;
  line-height: 120%;
  word-break: keep-all;
}
#container .join_wrap > form > button {
  display: block;
  width: 12%;
  margin: 2% auto;
  padding: 0.5vw 1vw;
  font-family: "TheJamsil";
  font-size: 1vw;
  font-weight: 500;
  border: none;
  outline: none;
  cursor: pointer;
  transition: all 0.5s;
}
#container .join_wrap > form > button:hover {
  color: #FFF;
  background-color: #BF2195;
}

@media screen and (max-width: 1024px) {
  #container .title {
    padding-top: 130px;
  }
  #container .title > h2 {
    font-size: 6vw;
  }
  #container .join_wrap {
    width: 80%;
  }
  #container .join_wrap > form .info {
    flex-wrap: wrap;
  }
  #container .join_wrap > form .info .label {
    width: 100%;
    font-size: calc(13px + 0.1vw);
    min-width: unset;
    line-height: 200%;
    text-align: center;
    border-right: none;
    border-bottom: 0.1vw solid #2A2A2A;
    word-break: keep-all;
  }
  #container .join_wrap > form .info input {
    border: none;
    border-bottom: 0.2vw solid #2A2A2A;
    line-height: 200%;
    outline: none;
    font-family: "TheJamsil";
    text-align: center;
    font-size: calc(13px + 0.1vw);
  }
  #container .join_wrap > form .info input::-moz-placeholder {
    text-align: center;
  }
  #container .join_wrap > form .info input::placeholder {
    text-align: center;
  }
  #container .join_wrap > form .info .confirm {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1% auto 0;
  }
  #container .join_wrap > form .info .confirm > button {
    width: -moz-max-content;
    width: max-content;
    margin-right: unset;
  }
  #container .join_wrap > form .info .confirm > span {
    font-size: calc(13px + 0.1vw);
    font-weight: 300;
    line-height: 240%;
    text-align: center;
  }
  #container .join_wrap > form .info .input {
    width: 100%;
    margin-left: unset;
    justify-content: center;
  }
  #container .join_wrap > form .info .input span {
    width: -moz-max-content;
    width: max-content;
  }
  #container .join_wrap > form > button {
    display: block;
    width: -moz-max-content;
    width: max-content;
    margin: 2% auto;
    padding: 1.5vw 2vw;
    font-family: "TheJamsil";
    font-size: calc(13px + 0.1vw);
    font-weight: 500;
    border: none;
    outline: none;
    cursor: pointer;
    transition: all 0.5s;
  }
  #container .join_wrap > form > button:hover {
    color: #FFF;
    background-color: #BF2195;
  }
}
@media screen and (max-width: 748px) {
  #container .title {
    margin-bottom: 8%;
  }
  #container .title > h2 {
    font-size: 9vw;
  }
}
@media screen and (max-width: 500px) {
  #container .title {
    margin-bottom: 8%;
  }
  #container .title > h2 {
    font-size: 12vw;
  }
}